.event-section, .event-list {
    overflow: visible  
}
.hero-section {
    width: 100%;
    overflow: auto;
    scroll-behavior: auto;
    white-space: nowrap;
    position: relative;
    
}
/* .home-header{
    position: absolute;
  top: 200px;     
  left: 20px;     
  font-size: 17px;
  font-weight: 700;
  color: white;
} */
.hero-slider{
    display: flex;
    gap: 20px;
    width: max-content;
    /* height: 700px;   */
    animation: slide 9s linear infinite;
    align-items: center;
   
}
.hero-banner{
    flex: 0 0 auto;
    width: 370px;
    max-width: 800px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(255, 254, 254, 0.1);
}
.hero-banner img{
    width: 600px;
    height: 300px;
    /* display: block; */
    object-position: center;
    border-radius: 12px;
}
@keyframes slide {
    0% {
        transform: translate(0%);
    }
    100%{
        transform: translate(-50%);
    }
}

.hero-section::-webkit-scrollbar{
    display: none;
}
.event-card-large {
    position: relative;
    margin-left: 40px; 
}


.event-number {
    position: absolute; 
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    left: -65px; 
    color: #1DB954; 
    font-size: 120px; 
    font-weight: 900; 
    line-height: 1; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    user-select: none;
}
.admin-btn {
  padding: 8px 14px;
  background: #ff6600;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.admin-btn:hover {
  background: #e05a00;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 10px;
}
.topticket {
  margin: 40px 0;
  text-align: center;
}
