.event-section, .event-list {
    overflow: visible  
}
.hero-section {
    width: 100%;
    overflow: auto;
    scroll-behavior: auto;
    white-space: nowrap;
    position: relative;
    padding: 10px 0;
}

.hero-slider{
    display: flex;
    gap: 20px;
    width: max-content;
    /* height: 700px;   */
    animation: slide 15s linear infinite;
    align-items: center;
}
.hero-banner{
    flex: 0 0 auto;
    width: 350px;
    max-width: 800px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.hero-banner img{
    width: 100px;
    height: 200px;
    display: block;
    object-fit: cover;
    border-radius: 12px;
}
@keyframes slide {
    0% {
        transform: translate(0%);
    }
    100%{
        transform: translate(-50%);
    }
}

.hero-section::-webkit-scrollbar{
    display: none;
}
.event-card-large {
    position: relative;
    margin-left: 40px; 
}


.event-number {
    position: absolute; 
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    left: -65px; 
    color: #1DB954; 
    font-size: 120px; 
    font-weight: 900; 
    line-height: 1; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    user-select: none;
}
