.event-section, .event-list {
    overflow: visible  
}
.hero-section {
    width: 2000px;       
    margin: 0;          
    padding: 0;         
    box-sizing: border-box;
    
}
.home-container {
    padding: -200px 40px;
    padding-top: -200px;
    /* max-width: 1700px; */
    margin: 0 auto;
}
.hero-slider{
    /* display: flex;
    gap: 20px;
    width: max-content;
    /* height: 100px;   */
    /* animation: slide 9s linear infinite;
    align-items: center; */ 
    width: fit-content;
    height: 350px;
    overflow: hidden;
    animation : slide 2s linear infinite;
}
.hero-banner{
    /* flex: 0 0 auto;
    width: 450px;
    max-width: 900px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(255, 254, 254, 0.1); */
    width: 100%;
    height: 350px;
}
.hero-banner img{
    /* width: 600px;
    height: 300px;
    object-position: center;
    border-radius: 12px;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
} 

.hero-section::-webkit-scrollbar{
    display: none;
}
.event-card-large {
    position: relative;
    margin-left: 40px; 
}

.event-number {
    position: absolute; 
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    left: -65px; 
    color: #1DB954; 
    font-size: 120px; 
    font-weight: 900; 
    line-height: 1; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    user-select: none;
}
.admin-btn {
    padding: 8px 14px;
    background: #ff6600;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.admin-btn:hover {
  background: #e05a00;
}

.topticket {
  margin: 40px 0;
  text-align: center;
}

.marquee-slider {
  width: 100vw;       
  overflow: hidden;
  box-sizing: border-box;
  padding: 16px 0;     
}

.marquee-track {
  display: flex;
  width: max-content;   
  animation: marquee 20s linear infinite;
}

.marquee-item {
  flex: 0 0 auto;      
  margin-right: 24px;  
}

.marquee-item img {
  width: 300px;         
  height: 200px;        
  object-fit: cover;
  border-radius: 12px;  
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}

