.mytickets-container {
  padding: 30px;
}

.ticket-grid {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.ticket-card {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.ticket-qr {
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
}
